/*boton contador */

.button-contador {
    padding: 12px 20px;
    background:#3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
}

.button-contador::before{
    content: "🌞";
    font-size: 8px;
}

/*boton buscador*/

.button-buscador {
    padding: 12px 20px;
    background:#3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    align-items: center;
}

.button-buscador::before{
    content: "🕵🏿";
    font-size: 8px;
}

/*boton acronimo*/

.button-acronimo {
    padding: 12px 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
}


.button-acronimo::before{
    content: "🐦‍⬛";
    font-size: 8px;
}
